<h1>Grocery List</h1>
<img src="../assets/img/grocery.png"/>
<div id="center">

<form class="create-update-form" id="food_item" action="items/create" method="POST">

  <div class="form-group">
  <h3>Add An Item</h3>
    <input type="text" id="food" name="item_name" placeholder="Enter Item Name">
  </div>

  <button type="submit">ADD</button>
</form>
</div>
{{{toJSON someJSON}}}

<ul id="left">
<h2>To Purchase</h2>
  {{#each result}}
    {{#unless this.bought}}
      <li>
        {{this.item_name}}
      

<!--       displays item lists with unpurchased items on the left and a centered place to enter new 
            items -->

        <form class="create-update-form" action="items/update/{{this.id}}?_method=PUT" method="POST">
          <input type="text" id="store" name="store_name" placeholder="Enter Store"><br>
          <input type="hidden" name="bought" value="true">
          <button type="submit">Click When Purchased</button>
        </form>
        <form action="items/delete/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<ul id="right">
<h2>Purchased</h2>
  {{#each result}}
    {{#if this.bought}}
      <li>
        {{this.item_name}} from {{this.store_name}} {{this.id}}
<!--    when item purchased and store name entered, items is moved to the right side -->
      
        <form action="items/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="bought" value="false">
          <button type="submit">Put Back On List</button>
        </form>

<!--    allows deletion of item on ether side -->
        <form action="items/delete/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        
      </li>
     
    {{/if}}
  {{/each}}
</ul>
